<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>hello~</h1>
    
    <td class="active">...</td>
    <tr>
      <td class="active">ddddd</td>
      <td class="success">333</td>
      <td class="warning">f33ff</td>
      <td class="danger">...</td>
      <td class="info">...</td>
    </tr>
  </body>
</html>
